@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Yuji+Mai&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}